<mat-form-field>
  <mat-label>Filter</mat-label>
  <input matInput (keyup)="onFilterChnage($event)" placeholder="Enter Text to fillter" #input>
</mat-form-field>
<div class="example-container mat-elevation-z8">
    <mat-table [dataSource]="dataSource" matSort >
      <ng-container matColumnDef="{{col.key}}"  *ngFor="let col of displayedColumns" >
        <mat-header-cell *matHeaderCellDef mat-sort-header> {{col.header}} </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element[col.key]}} </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="columnNames; sticky: true;"></mat-header-row>
  
      <mat-row *matRowDef="let row; columns: columnNames;"></mat-row>
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
      </tr>
  
    </mat-table>
  </div>